---
version: 2
interactions:
- id: 0
  request:
    host: ""
    form:
      api_key:
      - fake-api-key
    url: http://webservice.fanart.tv/v3/movies/550?api_key=fake-api-key
    method: GET
  response:
    - chunked
    body: "{\n    \"name\": \"Fight Club\",\n    \"tmdb_id\": \"550\",\n    \"imdb_id\": \"tt0137523\",\n    \"movieposter\": [\n        {\n            \"id\": \"50065\",\n            \"url\": \"http://assets.fanart.tv/fanart/movies/550/movieposter/fight-club-522a5477c7bd3.jpg\",\n            \"lang\": \"en\",\n            \"likes\": \"15\"\n        },\n        {\n            \"id\": \"93620\",\n            \"url\": \"http://assets.fanart.tv/fanart/movies/550/movieposter/fight-club-54aeb3744d8aa.jpg\",\n            \"lang\": \"en\",\n            \"likes\": \"13\"\n        },\n        {\n            \"id\": \"49169\",\n            \"url\": \"http://assets.fanart.tv/fanart/movies/550/movieposter/fight-club-52247ea1150cf.jpg\",\n            \"lang\": \"en\",\n            \"likes\": \"7\"\n        },\n        {\n            \"i[...]
